<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：必须与对应的接口全类名一致
	 id:必须与对应接口的某个对应的方法名一致	-->
<mapper namespace="com.lxm.dao.DocumentMapper">

    <insert id="add" parameterType="Document" keyProperty="dId" useGeneratedKeys="true">
        insert into document(d_name, path, m_id) values(#{docName}, #{path}, #{meeting.mId})
    </insert>
    
    <delete id="remove" parameterType="int">
        delete from document where d_id = #{docId}
    </delete>
    
</mapper>