<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：必须与对应的接口全类名一致
	 id:必须与对应接口的某个对应的方法名一致	-->
<mapper namespace="com.lxm.dao.ResourceMapper">

	<resultMap type="Resource" id="resourceMap">
		<!-- column值是数据表的列名，property值是实体类的get属性 -->
		<id column="r_id" property="rId" /> <!-- 唯一的主键 -->
		<result column="r_name" property="rName" /> <!-- 可以有多个 -->
		<result column="total" property="total" />
		<result column="remain" property="remain" />
	</resultMap>

    <select id="queryAvailable" resultMap="resourceMap">
        select * from resource where remain > 0 and r_state='no' 
    </select>
    
    <select id="queryUnAddResources" parameterType="int" resultMap="resourceMap">
        SELECT * FROM resource WHERE r_id NOT IN 
        (SELECT r_id FROM meeting_resource WHERE m_id = #{meetingId}) and remain > 0 and r_state='no' 
    </select>
    
    <select id="pagination" resultMap="resourceMap">
        select * from resource 
        <where>
            and r_state = 'no'
            <if test="resource != null">
                <if test="resource.rName != null and resource.rName != ''">
                    and r_name like '%${resource.rName}%' 
                </if>
                <if test="resource.total > 0">
                    and total >= #{resource.total} 
                </if>
                <if test="resource.remain > 0">
                    and remain >= #{resource.remain} 
                </if>
            </if>
        </where>
        order by r_id limit #{pageStart}, #{pageSize}
    </select>
    
    <select id="getRows" parameterType="Resource" resultType="int">
        select count(*) from resource 
        <where>
            and r_state = 'no' 
            <if test="rName != null and rName != ''">
                and r_name like '%${rName}%' 
            </if>
            <if test="total > 0">
                and total >= #{total} 
            </if>
            <if test="remain > 0">
                and remain >= #{remain} 
            </if>
        </where>
    </select>
    
    <update id="modify" parameterType="Resource">
        update resource 
        <set>
            <if test="rName != null and rName != ''">
                r_name = #{rName}, 
            </if>
            total = #{total}, remain = #{remain} 
        </set>
        where r_id = #{rId}
    </update>
    
    <select id="queryById" parameterType="int" resultMap="resourceMap">
        select * from resource where r_id = #{rId}
    </select>
    
    <insert id="add" parameterType="Resource">
        insert into resource(r_name, total, remain) values(#{rName}, #{total}, #{remain})
    </insert>
    
    <update id="remove" parameterType="int">
        update resource set r_state = 'yes' where r_id = #{rId}
    </update>
    
</mapper>