<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 批量扫描别名 -->
		<package name="com.lxm.bean" />
	</typeAliases>

	<!-- 实体接口映射资源 -->
	<mappers>
		<mapper resource="com/lxm/dao/UserMapper.xml" />
		<mapper resource="com/lxm/dao/MeetingMapper.xml" />
		<mapper resource="com/lxm/dao/MeetingRoomMapper.xml" />
		<mapper resource="com/lxm/dao/MeetingDetailMapper.xml" />
		<mapper resource="com/lxm/dao/DocumentMapper.xml" />
		<mapper resource="com/lxm/dao/ResourceMapper.xml" />
		<mapper resource="com/lxm/dao/MeetingResourceMapper.xml" />
	</mappers>
</configuration>  